:root {
    --primary: #00766D;;
    --secondary: #6DA7A1;
    --light: #f8f8f8;
    --danger: #C71914;
    --warning: #F5CB41;
    --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --shadow-card: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body {
    min-height: 100vh;
}

nav {
    box-shadow: var(--shadow);
}

img.logo {
    max-width: 200px;
}

img.card-img-top {
    max-height: 400px;
}

footer {
    width: 100%;
    background-color: var(--primary);
    position: sticky;
    top: 100%;
    height: 100px;
}

footer p {
    color: var(--light);
    text-align: center;
    font-size: 15px;
    position: sticky;
    top: 100%;
}

img.footer-logo {
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 30px;
    width: 300px;
    margin: 0 auto;
    font-family: "Fenix-Regular";
}

p {
    font-family: "KantumruyPro-VariableFont";
}

button,
.btn,
#loginButton {
    font-family: "Fenix-Regular";
}



@media (max-width: 400px) {
    .navbar>.container-fluid {
        justify-content: center;
        margin: 10px;
    }
    .d-flex {
        margin-top: 10px;
    }
    .bidding-history {
        margin: 0px;
    }
}

@media (max-width: 375px) {
    .card {
        max-width: 200px;
        max-height: 550px;
    }
}

.indexText {
    font-size: 20px;
    padding: 25px;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.card {
    /* width: 320px !important; */
    box-shadow: var(--shadow-card);
    height: 650px;
    width: 250px;
    margin: 0 auto;
}

.mt-5 {
    margin-top: 0px !important;
}

.align-items-start {
    grid-gap: 20px;
}

a.btn.btn-outline-success {
    border-color: var(--primary);
    color: var(--primary);
    margin-right: 10px;
}

a.btn.btn-outline-success:hover {
    background-color: var(--primary);
    color: var(--light);
}

a.btn.btn-primary,
button.btn.btn-primary.my-3,
button.btn.btn-primary {
    background-color: var(--primary);
    border: var(--primary);
    margin-right: 20px;
}

a.btn.btn-primary:hover,
button.btn.btn-primary.my-3:hover,
button.btn.btn-primary:hover {
    background-color: var(--secondary);
}

#logoutButton {
    margin-right: 10px;
}

button.btn.btn-secondary,
button.btn.btn-secondary:hover {
    background-color: var(--secondary);
    border: none;
    margin: 15px 30px;
}

.confirmation-buttons::after {
    background-color: var(--danger);
    color: var(--light);
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.confirmation-buttons.confirm {
    background-color: var(--danger);
    color: var(--light);
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.confirmation-text.confirm {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
  
.confirmation-text::before {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.error-message,
.bid-error {
    border: 1px solid;
    padding: 20px;
    color: #C71914;
    font-size: 1.2em;
    text-align: center;
}
  